<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="<%= favicon_uri %>favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= favicon_uri %>favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= favicon_uri %>favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="<%= favicon_uri %>android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="<%= favicon_uri %>android-chrome-512x512.png">
    <link rel="apple-touch-icon" href="<%= favicon_uri %>apple-touch-icon.png">
</head>
<body>
<div id="app"></div>
</body>
</html>
